@import "../variables";

.gf-main {
    background-image: @main-background;
    background-size: 50px 50px;

    position: relative;
    width: @game-width;
    height: @game-height;
    border: @border;
}

.gf-main-menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: @block-height;
    border-top: @border;
    padding: @padding;

    .gf-button + .gf-button {
        margin-left: @padding;
    }

}

.gf-main-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: @block-height + @border-size;
}
