@import "../variables";

.gf-main {
    background-image: @main-background;
    background-size: 50px 50px;

    position: relative;
    width: @game-width - 40px;
    height: @game-height - 40px;
    border: @border;
    margin: 20px;
    box-shadow: inset 0 0 800px 200px fadeout(@active, 90%), 0 0 2px 2px @active, 3px 3px 100px 20px rgba(0,0,0,1);

}

.gf-main-menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: @block-height;
    border-top: @border;
    padding: @padding;

    .gf-button + .gf-button {
        margin-left: @padding;
    }

}

.gf-main-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: @block-height + @border-size;
}
