@import "normalize.less";

@font-family: Times New Roman, serif;
@font-size: 16px;

* {
    box-sizing: border-box;
}

html, body {
    font-family: @font-family;
    font-size: @font-size;
    user-select: none;
}

@import "game.less";
@import "components/select-box.less";
@import "components/tab-list.less";

@import "game-components/cluster-resource-list.less";

@import "game-views/cluster-building-view.less";
@import "game-views/cluster-view.less";

