@import "../variables";

.gf-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: @line-height;
    line-height: @line-height;
    width: @button-width;
    text-align: center;
    user-select: none;

    &.gf-active {
        color: @active;
        cursor: default;
    }

    &.gf-disabled {
        color: @disabled;
        cursor: default;
    }

    &.gf-normal:hover {
        color: @active;

        &::after {
            background: rgba(255, 255, 255, 0.1);
        }
    }

    &:active::after {
        background: none;
    }

    &.gf-icon {
        width: @line-height;
    }

}
