@import "../variables";

.gf-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: @button-height;
    line-height: @button-height;
    width: @button-width;
    text-align: center;
    transition: all 500ms ease;
    background: @gradient-background;
    user-select: none;
    margin: 10px;

    &::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        transition: all 500ms ease;
    }

    &.gf-active {
        color: @active;
        cursor: default;
    }

    &.gf-disabled {
        color: @disabled;
        cursor: default;
    }

    &.gf-normal:hover {
        color: @active;

        &::after {
            background: rgba(255, 255, 255, 0.1);
        }
    }

    &:active::after {
        background: none;
    }

    &.gf-symbol {
        width: @button-height;
        border-radius: @button-height;
        .gf-border, .gf-border::before {
            border-radius: @button-height;
        }

        &::after {
            border-radius: @button-height;
        }
    }

}
