@import "../variables";

.gf-text {
    .small-font;
}

.gf-text.gf-accent {
    color: @accent;
}

.gf-text.gf-production {
    color: @green;
}

.gf-text.gf-consumption {
    color: @red;
}

.gf-text.gf-neutral {
    color: @disabled;
}
