@import "styles/components/button";
@import "styles/components/icon";
@import "styles/components/text";
@import "styles/views/building";
@import "styles/views/main";
@import "styles/views/production-cluster";
@import "styles/views/resource";
@import "styles/variables";

* {
    box-sizing: border-box;
}

body {
    background-image: @body-background;
    .font;
    padding: 0;
    margin: 0;
}
