@import "styles/components/border";
@import "styles/components/button";
@import "styles/variables";

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.gf-main {
    .font;
    background: @background;
    position: relative;
    width: @game-width;
    height: @game-height;
    border: 4px solid black;
}

