/* sizes */
@game-width: 1280px;
@game-height: 720px;

@menu-height: 40px;

@button-width: 150px;

/* colors */
@foreground: white;
@background: black;
@active: rgba(0, 255, 255, 1);
@accent: rgba(0, 255, 255, .6);
@medium-accent: rgba(0, 255, 255, .2);

@border: 2px solid @active;

@gradient-background: linear-gradient(to right, @medium-accent 0%, @accent 50%, @medium-accent 100%);
@metal-frame: repeating-radial-gradient(grey 5px, rgb(100, 100, 100) 10px, grey 5px);

/* fonts */
.font {
    color: white;
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.font-active {
    .font;
    color: @active;
}
